.nav-icon {
  height: 30px;
}

.nav-active {
  filter: brightness(1) invert(1);
}

.navigation {
  padding-block: 40px 12px;
  position: fixed;
  bottom: -12px;
  width: 100%;
  z-index: 2;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  background-color: #b1c5c3;
  width: 100%;
  margin: 0;
  padding: 12px;
}
