.form {
  padding: 20px 36px;
}

.fieldset {
  padding: 28px 28px;
}

.form-structure {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-block: 4px;
  margin-top: 24px;
  border-radius: 12px;
}

.counts {
  font-size: 12px;
  text-align: right;
}
