@import "/cards.css";
@import "/profile.css";
@import "/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --eucalyptus: #b1c5c3;
  --button-eucaplyptus: #b1c5cd;
  --button_white: #ffffff;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-dark-grey: #808080;
  --background-light-grey: #f1f4f5;
}

body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  margin: 0;
}

ul {
  list-style: none;
}

.header {
  text-align: center;
  font-size: 1.3rem;
  background-color: var(--eucalyptus);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-black);
}
