body {
  font-family: "Bebas Neue", sans-serif;
  margin: auto;
  font-size: 1.3rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  background-color: #b1c5c3;
  margin-top: 0;
  padding: 10px;
}

.questionBox {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.img-bookmark-white {
  height: 40px;
  position: absolute;
  top: -18px;
  right: 45px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
  align-items: left;
  width: 70vw;
  height: 25vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 20px 30px 0px 20px;
}

.button {
  border: 1px solid black;
  padding: 5px;
  width: 30vw;
  border-radius: 10px;
  background-color: #b1c5c3;
  margin: auto;
}

.tags {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
  padding: 25px 0;
  text-align: left;
}

.tag1,
.tag2,
.tag3 {
  border: 1px solid gray;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  background-color: #f1f4f5;
  padding: 2px 4px;
}

.answerBox {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-bookmark-black {
  height: 40px;
  position: absolute;
  top: -18px;
  right: 45px;
}

.answerCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;
  align-items: left;
  width: 70vw;
  height: 25vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  padding: 20px 30px 0px 20px;
}

.nav-icon {
  height: 30px;
}

.nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 20px;
  border-top: 5px solid #b1c5c3;
  padding-top: 20px;
}
