.formcard__content {
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  align-items: flex-start;
}

.submit-button {
  display: flex;
  justify-content: center;
  padding-block: 4px;
  margin-top: 24px;
  border-radius: 12px;
  width: fit-content;
}

.counts {
  font-size: 12px;
  text-align: right;
}
